<div class="wrapper">
    <div class="center-box">
        <div class="project-header">
            <h3>Example Projects</h3>
            <small>Please hover over to see the details about the projects</small>
        </div>            
        <div class="project-links-box">
            <div><a routerLink="/shop">Shop</a></div> 
           <div><a routerLink="/moneytracker">Money Tracker</a></div> 
           <div><a routerLink="/tictactoe">Tictactoe</a></div> 
           <div><a routerLink="/snake">Snake Game</a></div> 
           <div><a routerLink="/calculator">Calculator</a></div> 
        </div>
</div>